﻿@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2 class="display-5"> Let's learn how to talk: </h2>
    <div class="w-25" style="display: block; margin: auto;">
    </div>
</div>