﻿@using helloApp;
@using movie.Models;

@{
    film ManOfSteel = new film();
    ManOfSteel.Title = "The Batman";
}

<div class="text-center">
    <h1 class="display-4"> @ViewBag.Title </h1>
    <p> There are various ways to pass data directly from model to view. </p>

    <div class="w-25" style="display: block; margin: auto;">
        <p> @helloClass.helloWorld() <br> is directly taken from the model!</p>
        <p> @ManOfSteel.Title <br> is directly taken from the model -> view </p>
    </div>

</div>