﻿@using movie.Models;

@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4"> @ViewBag.Title </h1>
    <p> There are various ways to pass data from model to views. </p>
    
    <div class = "w-25" style = "display: block; margin: auto;">
        <ul>
            @foreach (var line in ViewBag.mainBody) {
            <li>
                @line
            </li>
        }
        </ul>
    </div>

    <p> @ViewBag.films.Title <br> is taken from the Controller!</p>
</div>