﻿@model helloApp.HomeModel;

@{
    ViewData["Title"] = "Privacy Policy";
}

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    @* <p> @Model.Message() ;this statement works but generates annoying warning statement</p>     *@
    
    brought to you by:
    <a href = "https://techfunda.com/howto/240/return-model-to-view-from-action-method"> techfunda </a>
</p>
